# Data Science Tools and Ecosystem:

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. SAS
6. MATLAB

## Some of the popularly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. TensorFlow
7. PyTorch
8. Keras
9. NLTK

| Data Science Tools |
| --- |
| Jupyter Notebook |
| Spyder |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

Arithmetic expressions in Python involve mathematical operations like addition, subtraction, multiplication, and division. Here are a few examples:

```python
# Addition
2 + 2

# Subtraction
5 - 3

# Multiplication
4 * 6

# Division
8 / 2

In [1]:
# This is a simple arithmetic expression to multiply then add integers
3 * 4 + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Introduce common libraries used in Data Science
- Create tables and code cells in Markdown
- Evaluate arithmetic expressions in Python
- Convert between different units of measurement

### Authors Lakshmi Holla and Niveditha Pandith

My name is Divyansh Binani